[이것이 코딩테스트다](https://www.youtube.com/watch?v=INg6kdOEEVc&list=PLVsNizTWUw7H9_of5YCB0FmsSc-K44y81&index=3)

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a)

print(a[3])

n = 10
a = [0] *n
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
4
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[7])

print(a[-1])

print(a[-3])

a[3] = 7
print(a)

8
9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[3])

print(a[1:4])

4
[2, 3, 4]

In [ ]:
array = [i for i in range(10)]
print(array)

array = [i*i for i in range(10) if i % 2 == 1]
print(array)

array = [i*i for i in range(10)]
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 9, 25, 49, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
m = 4
n = 3
array = [[0] * m for _ in range(n)]
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 5, 0, 0], [0, 0, 0, 0]]

In [ ]:
m = 4
n = 3
array = [[0] * m]*n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

In [1]:
summary = 0
for i in range(1, 10):
    summary += i

print(summary)

45

In [2]:
for _ in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [3]:
a = [1,4,3]
print("기본 리스트:", a)

a.append(2)
print("삽입:", a)

a.sort()
print("오름차순 정렬:",a)

a.sort(reverse = True)
print("내림 차순 정렬:",a)

기본 리스트: [1, 4, 3]
삽입: [1, 4, 3, 2]
오름차순 정렬: [1, 2, 3, 4]
내림 차순 정렬: [4, 3, 2, 1]

In [4]:
a = [4,3,2,1]

a.reverse()
print("원소 뒤집기:",a)

a.insert(2,3)
print("인덱스 2에 추가:",a)

print("값이 3인 데이터 개수:", a.count(3))

a.remove(1)
print("값이 1인 데이터 삭제",a)

원소 뒤집기: [1, 2, 3, 4]
인덱스 2에 추가: [1, 2, 3, 3, 4]
값이 3인 데이터 개수: 2
값이 1인 데이터 삭제 [2, 3, 3, 4]

In [5]:
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]