[이것이 코딩테스트다](https://www.youtube.com/watch?v=INg6kdOEEVc&list=PLVsNizTWUw7H9_of5YCB0FmsSc-K44y81&index=3)

In [13]:
data = dict()
data['사과'] ="Apple"
data['바나나'] = "Banana"
data['코코넛'] = "Coconut"
print(data)

if '사과' in data:
    print("사과를 키로 가지는 데이터가 존재합니다. ")

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
사과를 키로 가지는 데이터가 존재합니다.

In [14]:
key_list = data.keys()
value_list = data.values()

print(key_list)
print(value_list)

for key in key_list:
    print(key)

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
사과
바나나
코코넛

In [15]:
data =set([1,1,2,3,4,4,5])
print(data)

data = {1,1,2,3,4,4,5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [16]:
a = set([1,2,3,4,5])
b = set([3,4,5,6,7])

print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [17]:
data = set([1,2,3])
print(data)

data.add(4)
print(data)

data.update([5,6])
print(data)

data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}