[이것이 코딩테스트다](https://www.youtube.com/watch?v=INg6kdOEEVc&list=PLVsNizTWUw7H9_of5YCB0FmsSc-K44y81&index=3)

In [3]:
def add(a,b):
    return a+b

result = add(3,7)
print(result)

10

In [4]:
a = 10

def func():
    a = 0
    a += 1
    print(a)

func()

1

In [5]:
a = 10

def func():
    global a
    a += 1
    print(a)

func()

11

In [6]:
print((lambda a, b: a+b)(3,7))

10

In [7]:
array = [('홍길동', 50),('이순신', 32),('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key = my_key))
print(sorted(array, key = lambda x:x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [9]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

result = map(lambda a,b:a+b, list1,list2)
print(list(result))

[7, 9, 11, 13, 15]