[이것이 코딩테스트다](https://www.youtube.com/watch?v=INg6kdOEEVc&list=PLVsNizTWUw7H9_of5YCB0FmsSc-K44y81&index=3)

In [ ]:
def add(a,b):
    return a+b

result = add(3,7)
print(result)

10

In [ ]:
a = 10

def func():
    a = 0
    a += 1
    print(a)

func()

1

In [ ]:
a = 10

def func():
    global a
    a += 1
    print(a)

func()

11

In [ ]:
print((lambda a, b: a+b)(3,7))

10

In [ ]:
array = [('홍길동', 50),('이순신', 32),('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key = my_key))
print(sorted(array, key = lambda x:x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [1]:
result = sum([1,2,3,4,5])
print(result)

15

In [2]:
min_result = min(7,3,5,2)
max_result = max(7,3,5,2)
print(min_result,max_result)

2 7

In [4]:
result = eval("(3+5)*7")
print(result)

56

In [5]:
result = sorted([9,1,8,5,4])
reverse_result = sorted([9,1,8,5,4],reverse = True)
print(result)
print(reverse_result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [7]:
array = [('홍길동',35),('이순신', 75),('아무개', 50)]
result = sorted(array, key=lambda x:x[1], reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

In [8]:
from itertools import permutations
data = ['A','B','C']
result = list(permutations(data,3))

print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [9]:
from itertools import combinations
data = ['A','B','C']
result = list(combinations(data,2))

print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [10]:
from itertools import product
data = ['A','B','C']
result = list(product(data, repeat = 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [12]:
from itertools import combinations_with_replacement
data = ['A','B','C']
result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [14]:
from collections import Counter

counter = Counter(['red','blue','red','green','blue','blue'])
print(counter['blue'])
print(counter['green'])
print(counter['green1'])
print(dict(counter))

3
1
0
{'red': 2, 'blue': 3, 'green': 1}

In [15]:
import math
def lcm(a,b):
    return a*b // math.gcd(a,b)

a = 21
b = 14

print(math.gcd(21,14))
print(lcm(21,14))

7
42