In [9]:
#h = int(input())
h = 5

count = 0
for i in range(h+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i) + str(j)+str(k):
                count += 1
print(count)

11475

In [10]:
#input_data = input()
input_data = 'a1'
row = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a'))+1

steps = [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]
result = 0
for step in steps:
    next_row = row+step[0]
    next_column = column+step[1]
    if next_row>=1 and next_row<=8 and next_column>=1 and next_column <=8:
        result +=1
print(result)

2

In [16]:
#input_data = input()
input_data = 'a1'
row = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a'))+1

steps = [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]
result = 0
for step in steps:
    next_row = row+step[0]
    next_column = column+step[1]
    if 1<= next_row<=8 and 1<=next_column <=8:
        result +=1
print(result)

2

In [18]:
#data = input()
data = "AJKDLSI412K4JSJ9D"
result = []
value = 0
for x in data:
    if x.isalpha():
        result.append(x)
    else:
        value+= int(x)
result.sort()
if value != 0:
    result.append(str(value))
print("".join(result))

ADDIJJJKKLSS20