In [1]:
x = 3
y = 2
z = (x-y)  /(x +y)
print(z)

0.2

In [2]:
n = 5
change = 5000 - 700*n
print('거스름돈은',change, '원')

거스름돈은 1500 원

In [3]:
x = 3
y = 0.14

print(x,y)

3 0.14

In [4]:
pi = x+y
r = x+4
round_of_circle = 2 * pi * r
areaOfCircle = pi * (r**2)
print(pi, r, areaOfCircle, round_of_circle)

3.14 7 153.86 43.96

In [5]:
x = x+4
print(x)
x+= x
print(x)
x+= x+ x*2
print(x)

7
14
56

In [6]:
x = 3
y = 5
z = x<y
print(x,y,z)

x= x+x
z = x<y
print(x,y,z)

x+=1
y += 2
print(x,y,x==y)
print(x,y,x!=y)

3 5 True
6 5 False
7 7 True
7 7 False

In [7]:
x = 3
r = 2*(x**3) - (x**2) - 4*x + 12
print('나머지는 ',r)

나머지는  45

In [9]:
x = 2
print(x ** (1/2))

1.4142135623730951

In [8]:
a= 3
b = -2
c = -1
x1 = (-b + (b**2 - 4*a*c) ** (1/2)) / (2*a)
x2 = (-b + (b**2 - 4*a*c) ** (1/2)) / (2*a)
print(x1, x2)

1.0 1.0