In [24]:
def summation(n):
    s = 0
    for i in range(1, n+1):
        s += i * (n+1-i)
    return s

print(summation(20))

1540

In [26]:
numbers = [36,59,66,38,78,97,25,41,29,12]
print(sum(numbers))

s = 0
for n in numbers:
    s += n

print(s)

481
481

In [27]:
def sumOfArray(array, i):
    end = len(array) - 1
    if (end == i):
        return array[end]
    else:
        return array[i] + sumOfArray(array, i+1)

print(sumOfArray(numbers, 0))

481

In [28]:
def factorial(n):
    if (n == 0 or n ==1):
        return 1
    else:
        return n * factorial(n-1)
for n in range(11):
    print(n, "!=", factorial(n))

print()

0 != 1
1 != 1
2 != 2
3 != 6
4 != 24
5 != 120
6 != 720
7 != 5040
8 != 40320
9 != 362880
10 != 3628800

In [29]:
def fibonacci(n):
    if (n <2):
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
for n in range(11):
    print("F ( ", n, "_=", fibonacci(n))
print()

F (  0 _= 0
F (  1 _= 1
F (  2 _= 1
F (  3 _= 2
F (  4 _= 3
F (  5 _= 5
F (  6 _= 8
F (  7 _= 13
F (  8 _= 21
F (  9 _= 34
F (  10 _= 55