# 백준

In [2]:
number = 5
array = [5,2,3,4,1]

for i in range(number):
    min = 1001
    for j in range(i, number):
        if (min > array[j]):
            min = array[j]
            index = j
    
    array[index],array[i] = array[i] , array[index]

print(array)

[1, 2, 3, 4, 5]

In [7]:
N = int(input())

arrays = []

for _ in range(N) : 
    arrays.append(int(input()))

nummber = len(arrays)
for i in range(number):
    min = 1001
    for j in range(i, number):
        if (min > arrays[j]):
            min = arrays[j]
            index = j
    
    arrays[index],arrays[i] = arrays[i] , arrays[index]

print(arrays)

5
5
2
3
4
1
[1, 2, 3, 4, 5]

In [ ]:
41