# 백준

In [25]:
N = int(input())

arrays = []

for _ in range(N) : 
    arrays.append(int(input()))

def quickSort(data, start, end):
    if (start >= end) : 
        return 
    key = start
    i = start + 1 
    j = end

    while (i <= j): 
        while ((i <= end) and (data[i] <= data[key])):
            i+=1
        while ((data[j] >= data[key]) and ( j > start)):
            j -= 1 
            
        if (i > j): 
            data[key], data[j] = data[j], data[key]
        else:
            data[j], data[i] = data[i], data[j]

    quickSort(data, start, j-1) 
    quickSort(data, j+1, end)

    return data

data = quickSort(arrays, 0, len(arrays)-1)
for i in data:
    print(i)

5
4
3
2
1
5
1
2
3
4
5