[SW Expert Academy](https://swexpertacademy.com/main/code/problem/problemDetail.do?contestProbId=AV5PyTLqAf4DFAUq)

In [ ]:
T = int(input())
# 여러개의 테스트 케이스가 주어지므로, 각각을 처리합니다.
for test_case in range(1, T + 1):
    # ///////////////////////////////////////////////////////////////////////////////////
    N, k = map(int, input().split())
    grids = []
    for i in range(N):
        list_ = "".join(list(map(str, input().split())))
        grids.append(list_)
        
    value = '1' * k
    result = 0
    for grid in grids:
        grid_1 = grid.replace(value, 'A')
        for idx, val in enumerate(grid_1):
            if val == 'A':
                if (grid_1[idx -1:idx] not in ('1', 'A')) and (grid_1[idx+1: idx+2] not in ('1', 'A')):
                    result += 1
            #print(idx, grid_1, grid_1[idx -1:idx] , grid_1[idx+1: idx+2])

    grids = list(map(list, zip(*grids)))
    for grid in grids:
        grid_1 = "".join(grid)
        grid_1 = grid_1.replace(value, 'A')
        for idx, val in enumerate(grid_1):
            if val == 'A':
                if (grid_1[idx -1:idx] not in ('1', 'A')) and (grid_1[idx+1: idx+2] not in ('1', 'A')):
                    result += 1
           
    print(f'#{test_case} {result}')

1
5 3
0 0 1 1 1
1 1 1 1 0
0 0 1 0 0
0 1 1 1 1
1 1 1 0 1
#1 2

In [16]:
grids = ['11010111', '01010001', '11100101', '01010111', '00010101', '11111100', '01000101', '11101111']
k = 3
value = '1' * k
result = 0
for grid in grids:
    grid_1 = grid.replace(value, 'A')
    for idx, val in enumerate(grid_1):
        if val == 'A':
            if (grid_1[idx -1:idx] not in ('1', 'A')) and (grid_1[idx+1: idx+2] not in ('1', 'A')):
                result += 1
            #print(idx, grid_1, grid_1[idx -1:idx] , grid_1[idx+1: idx+2])
        
    
grids = list(map(list, zip(*grids)))
for grid in grids:
    grid_1 = "".join(grid)
    grid_1 = grid_1.replace(value, 'A')
    for idx, val in enumerate(grid_1):
        if val == 'A':
            if (grid_1[idx -1:idx] not in ('1', 'A')) and (grid_1[idx+1: idx+2] not in ('1', 'A')):
                result += 1

print(result)

6

In [ ]:
grids = ['10010', '11011', '10111', '01101', '01110']
k = 3
value = '1' * 3
result = 0
for grid in grids:
    while True:
        if value in grid:
            result += 1   
            grid = grid.replace(value, '')
        else: 
            break
    

grids = list(map(list, zip(*grids)))
for grid in grids:
    grid_1 = "".join(grid)
    while True:
        if value in grid_1:
            result += 1   
            grid_1 = grid_1.replace(value, '')
        else: 
            break
    
print(result)

6