[SW Expert Academy](https://swexpertacademy.com/main/code/problem/problemDetail.do?contestProbId=AV5QLkdKAz4DFAUq)

In [55]:
months = [str(i).rjust(2,'0') for i in range(1, 13)]
days = ['31', '28', '31', '30', '31', '30', '31', '31', '30', '31', '30', '31']
T = int(input())
for test_case in range(1, T + 1):
    li = input()
    #print(li)
    year = li[:4]
    month = li[4:6]
    day = li[6:]
    if (month in months) and (day <= days[int(month)-1]):
        result = f'{year}/{month}/{day}'
    else:
        result = -1
    print(f'#{str(test_case)} {result}')

5
22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 0101/01/01
20140230
#4 -1
11111111
#5 1111/11/11

In [54]:
months = [str(i).rjust(2,'0') for i in range(1, 13)]
days = ['31', '28', '31', '30', '31', '30', '31', '31', '30', '31', '30', '31']
li = '01010101'
year = li[:4]
month = li[4:6]
day = li[6:]
print(days[int(month)-1])
if (month in months) and (day <= days[int(month)-1]):
    result = f'{year}/{month}/{day}'
else:
    result = -1
print(result)

31
0101/01/01

In [42]:
from datetime import datetime
T = int(input())
for test_case in range(1, T + 1):
    li = input()
    #print(li)
    format = '%Y%m%d'
    try:
        result = datetime.strptime(li, format).strftime("%Y/%m/%d")
    except ValueError:
        result = -1
    print(f'#{str(test_case)} {result}')
# 3 101/01/01 에서 실패한다.

5
22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 101/01/01
20140230
#4 -1
11111111
#5 1111/11/11

In [7]:
months = [str(i).rjust(2,'0') for i in range(1, 13)]
months

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [62]:
from datetime import datetime

format = '%Y%m%d'
try:
    result = datetime.strptime('01010101', format).strftime("%Y/%m/%d")
except ValueError:
    result = -1
print(result)

101/01/01