출처 : 프로그래머스

In [30]:
def solution(citations):
    citations.sort(reverse = True)

    answer = 0
    for idx, val in enumerate(citations):
        if idx + 1 <= citations[idx]:
            print(idx+1, idx, citations[idx])
            answer = idx + 1
    return answer

citations = [3, 0, 6, 1, 5]
print(solution(citations))


citations = [5,3,3,8,10] 
print(solution(citations))

1 0 6
2 1 5
3 2 3
3
1 0 10
2 1 8
3 2 5
3

In [25]:
def solution(citations):
    citations.sort(reverse = True)

    answer = 0
    for idx, val in enumerate(citations):
        if idx + 1 <= citations[idx]:
            answer = idx + 1
    return answer


citations = [3, 0, 6, 1, 5]
print(solution(citations))


citations =[3, 4, 5, 11, 15, 16, 17, 18, 19, 20]
print(solution(citations) == 7)

3
True

In [ ]:
citations = [5, 9, 2, 8, 7, 7, 3, 1]

# 내림차순 정렬
citations.sort(reverse=True)
answer = 0
for i in range(len(citations)):
    # i번째 논문이 (i + 1)회 이상 인용되었는지 확인
    if i + 1 <= citations[i]:
        answer = i + 1

# 정답 출력
print(answer)

In [14]:
# test caset 11
citations = [0, 1, 1] # => 1
print(solution(citations))

citations =[3, 4, 5, 11, 15, 16, 17, 18, 19, 20]
print(solution(citations) == 7)

1

# 실패 케이스

In [21]:
def solution(citations):
    citations.sort(reverse = True)

    answer = 0
    for idx, val in enumerate(citations):
        h_max = len(list(filter(lambda x : x >= answer, citations)))
        if h_max >= answer:
            answer += 1
        else:
            answer -= 1
            break
    return answer


citations = [3, 0, 6, 1, 5]
print(solution(citations))


citations =[3, 4, 5, 11, 15, 16, 17, 18, 19, 20]
print(solution(citations) == 7)

3
True

In [9]:
def solution(citations):
    citations_sort = sorted(citations, reverse = True)
    h_index = 0
    answer = 0
    for idx, (i, j) in enumerate(zip(citations_sort, citations)):
        if i >= j :
            h_index = idx
    while True:
        result = len(list(filter(lambda x : x >= h_index, citations)))
        if h_index >  result:
            h_index -= 1
        else:
            answer = h_index
            break
    return answer


citations = [0, 0, 0]
solution(citations)

3

다른 사람 풀이

In [33]:
def solution(citations):
    citations.sort(reverse=True)
    print(citations)
    print(list(map(min, enumerate(citations, start=1))))
    answer = max(map(min, enumerate(citations, start=1)))
    return answer

citations = [3, 0, 6, 1, 5]
print(solution(citations))

[6, 5, 3, 1, 0]
[1, 2, 3, 1, 0]
3

In [37]:
citations = [3, 0, 6, 1, 5]
citations.sort(reverse=True)
print(citations)
for val in enumerate(citations, start=1):
    print(val)

[6, 5, 3, 1, 0]
(1, 6)
(2, 5)
(3, 3)
(4, 1)
(5, 0)