In [ ]:
-- 코드를 입력하세요
SELECT ANIMAL_TYPE AS ANIMAL_TYPE
      , CASE WHEN NAME IS NULL THEN 'No name'  ELSE NAME END as NAME
      , SEX_UPON_INTAKE AS SEX_UPON_INTAKE
FROM ANIMAL_INS  
ORDER BY ANIMAL_ID