In [80]:
-- 코드를 입력하세요
SELECT COUNT(ANIMAL_ID) count
FROM ANIMAL_INS