출처 : 프로그래머스

In [26]:
def isPrime(n):
    if n < 2 :
        return False
    for i in range(2, int(pow(n, 0.5) ) + 1):
        if n % i == 0:
            return False
    return True

def search_names(numbers_1,  i, list_numbers):
    for j, val in enumerate(numbers_1):
        num = i + val
        rem = numbers_1.replace(val, '', 1)
        if int(num) not in list_numbers:
            list_numbers.append(int(num))
        if rem:
            search_names(rem,  num, list_numbers)
      
def solution(numbers):
    list_numbers = []
    answer = 0
    for val in numbers:
        if int(val) not in list_numbers:
            list_numbers.append(int(val))
        rem = numbers.replace(val, '', 1)
        search_names(rem,  val, list_numbers)
    answer = len([i for i in list_numbers if isPrime(i)])
    return answer

numbers = "7834"
solution(numbers)

12

In [23]:
list_numbers = []
def search_names(numbers_1,  i, list_numbers):
    for j, val in enumerate(numbers_1):
        num = i + val
        rem = numbers_1.replace(val, '', 1)
        if int(num) not in list_numbers:
            list_numbers.append(int(num))
        if rem:
            search_names(rem,  num, list_numbers)

def solution(numbers):
    list_numbers = []
    answer = 0
    for val in numbers:
        if int(val) not in list_numbers:
            list_numbers.append(int(val))
        rem = numbers.replace(val, '', 1)
        search_names(rem,  val, list_numbers)
    print(list_numbers)
    return answer

In [313]:
# 121,144,169,225
def isPrime(n):
    if n < 2 :
        return False
    for i in range(2, int(pow(n, 0.5) ) + 1):
        if n % i == 0:
            return False
    return True

print(isPrime(121))
print(isPrime(144))
print(isPrime(169))
print(isPrime(225))
print(isPrime(2))

False
False
False
False
True

소수 확인

In [ ]:
pow(6, 0.5)

2.449489742783178

In [ ]:
def isPrime(n):
    if n <= 1:
        return False
    for i in range(2, int(pow(n, 0.5)) + 1):
        if n % i == 0:
            return False
    return True

print(isPrime(25))
print(isPrime(3))
print(isPrime(4))
print(isPrime(1))
print(isPrime(0))

False
True
False
False
False

# 하나 있을 때

In [9]:
def dfs(numbers):
    for i, val in enumerate(numbers):
        print(val, i)    

numbers = "1"
dfs(numbers)

1 0

In [17]:
#
def dfs_1(numbers, idx):
    for i, val in enumerate(numbers):
        if i != idx:
            return val

def dfs(numbers):
    for i, val in enumerate(numbers):
        val += dfs_1(numbers, i)
        print(val )

numbers = "12"
dfs(numbers)

12
21

In [32]:
# depth 들어갈 경우 
def dfs_1(numbers, idx):
    for i, val in enumerate(numbers):
        if i != idx:
            return val

def dfs(numbers, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if depth == 0:
            vals.append(val)
        else:
            val += dfs_1(numbers, i)
            vals.append(val)
    return vals

numbers = "12"
list_ = []
for i, val in enumerate(numbers):
    list_.extend(dfs(numbers, i))
print(list_)

['1', '2', '12', '21']

In [107]:
# depth 들어갈 경우 
def dfs_2(numbers, idx, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if i != idx:
            vals.append(val)
    return vals

def dfs_1(numbers, idx, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if i != idx:
            if depth == 1:
                vals.append(val)
            else:
                returns = dfs_2(numbers, i, depth)
                for j in returns:
                    ret  = val + j
                    vals.append(ret)
    return vals

def dfs(numbers, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if depth == 0:
            vals.append(val)
        else:
            returns = dfs_1(numbers, i, depth)
            for j in returns:
                ret  = val + j
                vals.append(ret)
    return vals

numbers = "123"
list_ = []
for i, val in enumerate(numbers):
    list_.extend(dfs(numbers, i))
print(len(set(list_)), list_)

21 ['1', '2', '3', '12', '13', '21', '23', '31', '32', '121', '123', '131', '132', '212', '213', '231', '232', '312', '313', '321', '323']

In [27]:
# depth 들어갈 경우 
def search_names_2(numbers, idx, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if i != idx:
            if depth == 2:
                vals.append(val)
            vals.append(val)
    return vals

def search_names_1(numbers, idx, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if i != idx:
            if depth == 1:
                vals.append(val)
            else:
                returns = search_names_2(numbers, i, depth)
                for j in returns:
                    ret  = val + j
                    vals.append(ret)

    return vals

def search_names(numbers, depth):
    vals =  []
    for i, val in enumerate(numbers):
        if depth == 0:
            vals.append(val)
        else:
            returns = search_names_1(numbers, i, depth)
            for j in returns:
                ret  = val + j
                vals.append(ret)
    return vals

numbers = "1234"
list_ = []
for i, val in enumerate(numbers):
    list_.extend(search_names(numbers, i))
print(len(set(list_)), list_)

52 ['1', '2', '3', '4', '12', '13', '14', '21', '23', '24', '31', '32', '34', '41', '42', '43', '121', '121', '123', '123', '124', '124', '131', '131', '132', '132', '134', '134', '141', '141', '142', '142', '143', '143', '212', '212', '213', '213', '214', '214', '231', '231', '232', '232', '234', '234', '241', '241', '242', '242', '243', '243', '312', '312', '313', '313', '314', '314', '321', '321', '323', '323', '324', '324', '341', '341', '342', '342', '343', '343', '412', '412', '413', '413', '414', '414', '421', '421', '423', '423', '424', '424', '431', '431', '432', '432', '434', '434', '121', '123', '124', '131', '132', '134', '141', '142', '143', '212', '213', '214', '231', '232', '234', '241', '242', '243', '312', '313', '314', '321', '323', '324', '341', '342', '343', '412', '413', '414', '421', '423', '424', '431', '432', '434']

In [438]:

def search_numbers(numbers, i, chk_nums):
    for j in numbers:
        num = i + j
        print(num)
        rem = numbers.replace(j, '', 1)
        if int(num) not in chk_nums:
            chk_nums.append(int(num))
        #if rem:
            #search_numbers(rem, num, chk_nums)

def solution(numbers):
    chk_nums = []
    prime_list = []
    answer = 0
    for i in numbers:
        if int(i) not in chk_nums:
            chk_nums.append(int(i))
        rem = numbers.replace(i, '', 1)
        search_numbers(rem, i, chk_nums)
    answer = len(prime_list)
    return answer

numbers = "7834"
solution(numbers)

78
73
74
87
83
84
37
38
34
47
48
43

0

78
73
74
87
83
84
37
38
34
47
48
43

In [22]:
list_numbers = []
def search_names(numbers_1,  i, list_numbers):
    for j, val in enumerate(numbers_1):
        num = i + val
        rem = numbers_1.replace(val, '', 1)
        if int(num) not in list_numbers:
            list_numbers.append(int(num))
        if rem:
            search_names(rem,  num, list_numbers)

def solution(numbers):
    list_numbers = []
    answer = 0
    for val in numbers:
        if int(val) not in list_numbers:
            list_numbers.append(int(val))
        rem = numbers.replace(val, '', 1)
        search_names(rem,  val, list_numbers)
    print(list_numbers)
    return answer
solution('7834')

[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837, 43, 437, 4378, 438, 4387]

0

In [2]:
def chk_prime(number):
    if number == 0 or number == 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

def search_numbers(numbers, i, chk_nums, prime_list):
    for j in numbers:
        num = i + j
        rem = numbers.replace(j, '', 1)
        if int(num) not in chk_nums:
            chk_nums.append(int(num))
            if chk_prime(int(num)):
                prime_list.append(int(num))
        if rem:
            search_numbers(rem, num, chk_nums, prime_list)

def solution(numbers):
    chk_nums = []
    prime_list = []
    answer = 0
    for i in numbers:
        if int(i) not in chk_nums:
            chk_nums.append(int(i))
            if chk_prime(int(i)):
                prime_list.append(int(i))
        rem = numbers.replace(i, '', 1)
        search_numbers(rem, i, chk_nums, prime_list)
    answer = len(prime_list)
    return answer

numbers = "7834"
solution(numbers)

[7, 78]
[7, 78, 783]
[7, 78, 783, 7834]
[7, 78, 783, 7834, 784]
[7, 78, 783, 7834, 784, 7843]
[7, 78, 783, 7834, 784, 7843, 73]
[7, 78, 783, 7834, 784, 7843, 73, 738]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837, 43]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837, 43, 437]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837, 43, 437, 4378]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837, 43, 437, 4378, 438]
[7, 78, 783, 7834, 784, 7843, 73, 738, 7384, 734, 7348, 74, 748, 7483, 743, 7438, 8, 87, 873, 8734, 874, 8743, 83, 837, 8374, 834, 8347, 84, 847, 8473, 843, 8437, 3, 37, 378, 3784, 374, 3748, 38, 387, 3874, 384, 3847, 34, 347, 3478, 348, 3487, 4, 47, 478, 4783, 473, 4738, 48, 487, 4873, 483, 4837, 43, 437, 4378, 438, 4387]

12