In [79]:
def solution(phone_book):
    answer = True
    phone_book_sort = sorted(phone_book)
    for i in range(1, len(phone_book_sort)):
        if phone_book_sort[i-1] == phone_book_sort[i][:len(phone_book_sort[i-1])]:
            answer = False
            break
    return answer

phone_book =["934793", "34", "44", "9347"]
solution(phone_book)

False

다른 사람 풀이

In [80]:
def solution(phone_book):
    answer = True
    hash_map = {}
    for phone_number in phone_book:
        hash_map[phone_number] = 1
    print(hash_map)
    for phone_number in phone_book:
        temp = ""
        for number in phone_number:
            temp += number
            if temp in hash_map and temp != phone_number:
                answer = False
    return answer

phone_book =["934793", "34", "44", "9347"]
solution(phone_book)

{'934793': 1, '34': 1, '44': 1, '9347': 1}

False