In [23]:
def solution(n):
    _list = ['수','박']
    i = 0
    answer= ""
    while i < n:
        answer += _list[i%2]
        i+=1
    return answer

solution(3)

'수박수'

In [27]:
def solution(n):
    _list = ['수','박']
    answer = "".join([_list[i%2] for i in range(n)])
    return answer

solution(3)

'수박수'

In [41]:
def solution(n):
    _list = ['수','박']
    answer = "".join(list(map(lambda x: _list[x%2], [i for i in range(n)])))
    return answer

solution(4)

'수박수박'

## 다른 사람 풀이

In [42]:
def water_melon(n):
    s = "수박" * n
    return s[:n]


# 실행을 위한 테스트코드입니다.
print("n이 3인 경우: " + water_melon(3));
print("n이 4인 경우: " + water_melon(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박

In [43]:
def water_melon(n):
    return "수박"*(n//2) + "수"*(n%2)


# 실행을 위한 테스트코드입니다.
print("n이 3인 경우: " + water_melon(3));
print("n이 4인 경우: " + water_melon(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박

In [44]:
def solution(n):
    return "".join(["수박"[i%2] for i in range(n)])