In [ ]:
def solution(n):
    return sum([int(i) for i in str(n)])


n = 123
solution(n)

6

In [ ]:
def solution(n):
    return sum([int(i) for i in str(n)])


n = 987
solution(n)

24

In [3]:
def solution(n):
    return sum(map(int, str(n)))


n = 123
solution(n)

6

In [5]:
n = 123
list(map(int, str(n)))

[1, 2, 3]