In [111]:
def solution(n, lost, reserve):
    lost.sort()
    reserve.sort()

    reserve1= reserve[:]
    lost1 = lost[:]

    for i in lost:
        for j in reserve:
            if i == j:
                reserve1.remove(j)
                lost1.remove(i)

    answer = n - len(lost1)
    for i in lost1:
        _list = list(set([abs(i-j) for j in reserve1]))
        if 1 in _list:
            answer += 1
            isCon = False
            if (i-1 in reserve1) :
                reserve1.remove(i-1)
                isCon = True 
            if (i+1 in reserve1) and not isCon:
                reserve1.remove(i+1)

    return answer

n = 5
lost =  [3, 5]
reserve = [2, 4]
solution(n, lost, reserve)

5

다른 사람 풀이

In [112]:
def solution(n, lost, reserve):
    _reserve = [r for r in reserve if r not in lost]
    _lost = [l for l in lost if l not in reserve]
    for r in _reserve:
        f = r - 1
        b = r + 1
        if f in _lost:
            _lost.remove(f)
        elif b in _lost:
            _lost.remove(b)
    return n - len(_lost)

n = 5
lost =  [3, 5]
reserve = [2, 4]
solution(n, lost, reserve)

5

In [113]:
def solution(n, lost, reserve):
    _reserve = list(set(reserve) - set(lost)) 
    _lost = list(set(lost) - set(reserve))
    for r in _reserve:
        f = r - 1
        b = r + 1
        if f in _lost:
            _lost.remove(f)
        elif b in _lost:
            _lost.remove(b)
    return n - len(_lost)

n = 5
lost =  [3, 5]
reserve = [2, 4]
solution(n, lost, reserve)

5